.login{
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.login .code-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
}

.login .qr-code {
  margin-top: 10px;
}


.login > .logo{
  position: absolute;
  top: 15px;
  left: 10px;
  color: white;
  border: white 2px solid;
  z-index: 3;
}

.login > .info-section{
  height: 100%;
  width: 30%;
  background-color: rgb(3, 12, 14);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.login > .image-section{
  width: 70%;
  height: 100vh;
  background-color: black;
  background-image: url('./images/pexels-diva-20153179.jpg');
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login > .image-section::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.151);
}

.login > .image-section > .logo-container{
  background-color: black;
  background-image: url('./images/Modern\ Brain\ Tech\ Logo.png');
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.login > .logo-container {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: black;
  background-image: url('./images/Modern\ Brain\ Tech\ Logo.png');
  background-position: center;
  background-size: cover;
  height: 90px;
  width: 90px;
}

.login > .info-section > .how-to{
  border: 0;
  background-color: transparent;
  color: rgb(65, 185, 255);
  /* text-decoration: underline; */
}

.login > .info-section > .code-section{
  border: 3px dashed white;
  max-width: fit-content;
  align-self: center;
  position: absolute;
  bottom: 200px;

}

.video{
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .login > .info-section{
    width: 50%;
  }

  .login > .image-section{
    width: 50%;

  }
}

@media (max-width: 680px) {
  .login {
    flex-direction: column;
  }
  .login > .image-section{
    width: 100%;
    height: 40%;
  }

  .login > .info-section{
    width: 100%;
    height: 60%;
    background-color: rgb(0, 0, 0);
  }

  .login > .image-section > .logo-container{
    height: 200px;
    width: 200px;
  }


  .login > .info-section > .code-section{
    bottom: 5px;
  }
}